<div fxLayout="column" fxLayoutAlign="center center" class="tour-popup-main">
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="28" fxFlex.xs="90" fxFlex.sm="60" fxFlex.md="40" fxLayoutAlign="center center">
            <div class="box-main box-padding-large w-100" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxLayoutAlign="center center">
                        <img class="byndr-logo" alt="byndr logo" src="../../../assets/images/rawimages/byndr-logo.png" />
                    </div>
                </div>
                <h2 class="h2-26 pb-20" fxLayoutAlign="center center">Hey Prakash,
                    <br/>Welcome to Byndr!</h2>
                <p class="popup-info-text pb-20" fxLayoutAlign="center center">
                    We're excited to have you here. Get ready to experience learning with endless possibilities.
                </p>
                <p class="popup-info-text pb-20" fxLayoutAlign="center center">
                    Lets get started by meeting your learning tools.
                </p>
                <div class="form-buttons pt-10" fxLayout="row" fxLayout.xs="column">
                    <div class="mr-10" fxFlex="50" fxLayoutAlign="start center">
                        <button mat-raised-button class="btn-submit">Enter</button>
                    </div>
                    <div class="ml-10" fxFlex="50" fxLayoutAlign="end center">
                        <button mat-raised-button class="btn-cancel">Skip Tour</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>