@import '/src/assets/css/variables';

.forgot-info-text {
    font-size: $font-18;
    text-align: center;
    line-height: $font-24;
    color: $color-black2;
}
button.btn-submit {
    padding: 6px 50px;
    margin: 0px auto;
    display: table;
    margin-top: 10px;
}
