<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="33.3333" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxLayoutAlign="center center">
        <div class="box-main box-padding-large w-100" fxLayout="column">
            <h2 class="h2-28 pb-20" fxLayoutAlign="center center">Password Reset</h2>
            <p class="forgot-info-text" fxLayoutAlign="center center">Use both lower and upper case characters, 1 number, 1 special character and atleast 8 character in your password.
            </p>
            <form>
                <div class="form-fields-main pt-20">
                    <mat-form-field class="password-field" appearance="outline">
                        <input matInput type="password" placeholder="Create Password">
                        <mat-pass-toggle-visibility class="password-icon" #toggleVisbility matSuffix></mat-pass-toggle-visibility>
                        <mat-error>
                            <div class="password-error">
                                <span class="exclamation-symbol">
                                    <span>!</span>
                                </span>
                                <p>Not Strong enough</p>
                                <p>Use both lower and upper case characters, 1 number, 1 special character and atleast 8 characters
                                    in your password.</p>
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="password-field" appearance="outline">
                        <input matInput type="password" placeholder="Confirm Password">
                        <mat-pass-toggle-visibility class="password-icon" #toggleVisbility matSuffix></mat-pass-toggle-visibility>
                        <mat-error>
                            <div class="password-error">
                                <span class="exclamation-symbol">
                                    <span>!</span>
                                </span>
                                <p>Passwords do not match!</p>
                                <p>Use atleast 1 alphabet, 1 number, 1 capitalised alphabet and 1 special character in your
                                    password.</p>
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="btn-submit">Set New Password</button>
                </div>
            </form>
        </div>
    </div>
</div>