<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="33.3333" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxLayoutAlign="center center">
        <div class="box-main box-padding-large w-100" fxLayout="column">
            <h1 class="h1-40" fxLayoutAlign="center center">Login</h1>
            <form>
                <div class="form-fields-main pt-20">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email Address or Phone">
                        <mat-error>
                            <div class="password-error">
                                <span class="exclamation-symbol">
                                    <span>!</span>
                                </span>
                                <p>Account with this email does not exist!</p>
                                <p>Please check your username, phone number or email address just in case.</p>
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="password-field" appearance="outline">
                        <input matInput type="password" placeholder="Password">
                        <mat-pass-toggle-visibility class="password-icon" #toggleVisbility matSuffix></mat-pass-toggle-visibility>
                        <mat-error>
                            <div class="password-error">
                                <span class="exclamation-symbol">
                                    <span>!</span>
                                </span>
                                <p>Incorrect Password</p>
                                <p>Check for caps lock. you never know!</p>
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <div class="remember-me" fxLayout="row" fxLayout.xs="column">
                        <div fxFlex fxLayoutAlign="start center" fxLayoutAlign.xs="start start">
                            <section class="accept-checkbox">
                                <mat-checkbox>Remember Me</mat-checkbox>
                            </section>
                        </div>
                        <div class="forgot-password-text" fxFlex fxLayoutAlign="end center" fxLayoutAlign.xs="start start">
                            <a routerLink="/forgot-password">Forgot Password?</a>
                        </div>
                    </div>
                    <button mat-raised-button class="btn-submit">Enter</button>
                    <div class="signup-instead mt-30" fxLayoutAlign="center">
                        <a routerLink="/signup">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>