<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxLayoutAlign="center center">
        <div class="box-main box-padding-medium w-100" fxLayout="column">
            <div class="mb-20 terms-header" fxLayout="row" fxLayoutAlign="start center">
                <div class="mr-20" fxFlex="initial" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h3 class="h3-24 pb-5">Terms of Service and Privacy</h3>
                        <p class="last-updated-text">Last Updated: 4 Feb 2021</p>
                    </div>
                </div>
                <div fxFlex fxLayoutAlign="end center">
                    <a routerLink="/intro">
                        <img class="close-icon" alt="close icon" src="../../../assets/images/icons/close-icon-grey.svg" />
                    </a>
                </div>
            </div>
            <div class="terms-main">
                <div class="terms-body scroll-bar">
                    <p class="pb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <b>Why do we use it?</b>
                    <p class="pb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <b>Why do we use it?</b>
                    <p class="pb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <b>Why do we use it?</b>
                    <p class="pb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <b>Why do we use it?</b>
                    <p class="pb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="accept-btn mt-30" fxFlex fxLayoutAlign="center center">
                <button mat-raised-button class="btn-submit" routerLink="/signup">Accept</button>
            </div>
        </div>
    </div>
</div>