$color-white: #fff;
$color-black: #000000;
$color-black2: #070B1A;
$color-lightgrey1: #F5F5F5;
$color-lightgrey2: #CBCBCB;
$color-lightgrey3: #E3E3E3;
$color-lightgrey4: #D1D1D1;
$color-lightgrey5: #BEBEBE;
$color-lightgrey6: #ADADAD;
$color-lightgrey7: #7F7F7F;
$color-lightgrey8: rgba(0,0,0,0.8);
$color-lightgrey9: #5C5C5C;
$color-lightgrey10: #656565;
$color-blue1: #2D68F8;
$color-blue1-05: rgba(45,104,248, 0.05);
$color-blue2: #1956E3;
$color-blue3: #10234C;
$color-blue4: #41479B;
$color-red: #E55252;
$color-red-10: rgba(244,67,54,0.1);
$color-orange: #FAB446;
$color-green: #73AF00;

// font sizes
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-34: 34px;
$font-36: 36px;
$font-40: 40px;
$font-42: 42px;
$font-48: 48px;