<div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33.3333" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxLayoutAlign="center center">
            <div class="box-main box-padding-large w-100" fxLayout="column">
                <h2 class="h2-26" fxLayoutAlign="center center">Forgot Password?</h2>
                <h2 class="h2-26 pb-20" fxLayoutAlign="center center">Take it easy!</h2>
                <p class="forgot-info-text" fxLayoutAlign="center center">A link will be sent to your email address in order to complete new password setup.</p>
                <form>
                    <div class="form-fields-main pt-20">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Email Address">
                        </mat-form-field>
                        <button mat-raised-button class="btn-submit">Submit</button>
                        <div class="back-button mt-30" fxLayoutAlign="center">
                            <a routerLink="/login">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>