@import '/src/assets/css/variables';

.forgot-info-text {
    font-size: $font-18;
    text-align: center;
    line-height: $font-24;
}
button.btn-submit {
    padding: 8px 50px;
    margin: 0px auto;
    display: table;
    margin-top: 10px;
}
.back-button a {
    font-size: $font-14;
    line-height: $font-18;
    color: $color-lightgrey9;
    border-bottom: 1px solid $color-lightgrey9;
    &:hover {
        text-decoration: none;
    }
}