<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="60" fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="80" fxLayoutAlign="center center">
        <div class="box-main box-padding-large w-100" fxLayout="column">
            <h2 class="h2-26 pb-10" fxLayoutAlign="center center">Select your areas of interest</h2>
            <p class="popup-info-text pb-20" fxLayoutAlign="center center">This would help in building your topic feeds.
            </p>
            <div class="areas-main scroll-bar">
                <mat-selection-list fxFlex fxLayout="row" fxLayoutWrap="wrap">
                    <mat-list-option>Education</mat-list-option>
                    <mat-list-option>Learning Experiences</mat-list-option>
                    <mat-list-option>Thermo dynamics</mat-list-option>
                    <mat-list-option>Coding</mat-list-option>
                    <mat-list-option>Marketing</mat-list-option>
                    <mat-list-option>Education</mat-list-option>
                    <mat-list-option>Learning Experiences</mat-list-option>
                    <mat-list-option>Thermo dynamics</mat-list-option>
                    <mat-list-option>Coding</mat-list-option>
                    <mat-list-option>Marketing</mat-list-option>
                    <mat-list-option>Education</mat-list-option>
                    <mat-list-option>Learning Experiences</mat-list-option>
                    <mat-list-option>Thermo dynamics</mat-list-option>
                    <mat-list-option>Coding</mat-list-option>
                    <mat-list-option>Marketing</mat-list-option>
                </mat-selection-list>
            </div>
            <div class="form-buttons pt-10" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="btn-submit">Next</button>
            </div>
        </div>
    </div>
</div>