@import '../../../../assets/css/variables';

.card-info-header {
    padding: 14.5px 25px;
    border-bottom: 1px solid $color-lightgrey16;
    .library-icon img {
        width: 18px;
        height: 23px;
    }
    .copy-clipboard-icon  img {
        width: 25px;
        height: 21px;
    }
    .plus-icon img {
        width: 22px;
        height: 22px;
    }
    .url-icon img {
        width: 22px;
        height: 11px;
    }
    .share-icon img {
        width: 17px;
        height: 19px;
    }
    .close-icon img {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
}
.card-info-body {
    padding: 20px 25px;
}