<div class="card-info-main">
    <div class="card-info-header" fxLayout="row wrap" fxLayoutWrap="wrap">
        <div fxFlex="initial" fxLayoutAlign="start center">
            <div class="library-icon mr-20">
                <img alt="library icon" src="../../../../assets/images/icons/ic-library-grey-border.png" />
            </div>
            <div class="copy-clipboard-icon mr-20">
                <img alt="library icon" src="../../../../assets/images/icons/ic-copy-clipboard-grey.png" />
            </div>
            <div class="plus-icon mr-20">
                <img alt="plus icon" src="../../../../assets/images/icons/ic-plus-border-grey.png" />
            </div>
            <div class="url-icon mr-20">
                <img alt="url icon" src="../../../../assets/images/icons/ic-url-grey.png" />
            </div>
            <div class="share-icon mr-20">
                <img alt="share icon" src="../../../../assets/images/icons/ic-share-grey.png" />
            </div>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <div class="close-icon">
                <img (click)="closeSidebar()" alt="close icon" src="../../../../assets/images/icons/ic-close-grey.png" />
            </div>
        </div>
    </div>
    <div class="card-info-body">
        <h3 class="h3-24-black pb-20">How 6 Brands use Instagram Live in their Marketing</h3>
        <div class="card-views-row pb-20" fxLayout="row wrap" fxLayoutWrap="wrap">
            <div fxFlex="initial" fxLayoutAlign="start center">
                <p class="p-small-black14">
                    <b>TED - Ed</b> youtube.com 2hrs ago</p>
            </div>
            <div fxFlex fxLayoutAlign="end center">
                <p class="p-small-black14">2.5k views</p>
            </div>
        </div>
        <p class="p-small-black14 pb-20">
            <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s</b>
        </p>
        <p class="p-small-black14 pb-20">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p class="p-small-black14 pb-20">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
            Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
            the cites of the word.
        </p>
        <p class="p-small-black14 pb-20">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
            Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
            the cites of the word.
        </p>
        <p class="p-small-black14">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
            Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
            the cites of the word.
        </p>
    </div>
</div>