.user-actions-main {
    background: url('../../assets/images/rawimages/SSO-BG.png')no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
    .user-actions-main {
        height: 100%;
        width: 100%;
        padding: 60px 0px;
    }
}