<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="28" fxFlex.xs="90" fxFlex.sm="60" fxFlex.md="40" fxLayoutAlign="center center">
        <div class="box-main box-padding-large w-100" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="70" fxLayoutAlign="center center">
                    <img class="byndr-logo" alt="byndr logo" src="../../../assets/images/rawimages/byndr-logo.png" />
                </div>
            </div>
            <h2 class="h2-26 pb-20" fxLayoutAlign="center center">You've got mail!</h2>
            <p class="popup-info-text pb-20" fxLayoutAlign="center center">We've mailed you a link to change your password at
            </p>
            <p class="popup-link pb-20" fxLayoutAlign="center center">123456@gmail.com</p>
            <p class="popup-small-text pb-20">If you haven't received any mail yet, try resending the link.</p>
            <!-- <p class="resent-confirmation-text pb-20">Resent Confirmation Link</p> -->
            <div class="form-buttons pt-10" fxLayout="row" fxLayout.xs="column">
                <div class="mr-10" fxFlex="50" fxLayoutAlign="start center">
                    <button mat-raised-button class="btn-resend">Resend</button>
                </div>
                <div class="ml-10" fxFlex="50" fxLayoutAlign="end center">
                    <button mat-raised-button class="btn-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>