<div class="left-sidebar" fxLayout="column">
    <div class="home-icon">
        <a routerLink="/main">
            <img class="ic-home" alt="home icon" src="../../../assets/images/icons/ic-home.png" />
        </a>
    </div>
    <div class="left-icons">
        <a class="ic-discover-grey" routerLink="/">
            <img alt="" src="../../../assets/images/icons/ic-discovery-grey.png" />
        </a>
        <a style="display: none;" class="ic-discover-blue">
            <img alt="" src="../../../assets/images/icons/ic-discovery-blue.png" />
        </a>
        <a class="ic-topics-grey" routerLink="/">
            <img alt="" src="../../../assets/images/icons/ic-topics-grey.png" />
        </a>
        <a style="display: none;" class="ic-topics-blue">
            <img alt="" src="../../../assets/images/icons/ic-topics-blue.png" />
        </a>
        <a class="ic-library-grey" routerLink="/">
            <img alt="" src="../../../assets/images/icons/ic-library-grey.png" />
        </a>
        <a style="display: none;" class="ic-library-blue" routerLink="/">
            <img alt="" src="../../../assets/images/icons/ic-library-blue.png" />
        </a>
    </div>
    <div class="profile-icon">
        <a routerLink="/">
            <img alt="profile icon" src="../../../assets/images/icons/ic-profile-grey.png" />
        </a>
    </div>
</div>