<div class="card-info-main">
    <div class="card-info-header" fxLayout="row wrap" fxLayoutWrap="wrap">
        <div fxFlex="initial" fxLayoutAlign="start center">
            <div class="notifications-text">
                Messages
                <span class="notification-number">1</span>
            </div>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <div class="mark-all-read-text">
                View All
                <span class="close-icon">
                    <img (click)="closeSidebar()" alt="close icon" src="../../../../assets/images/icons/ic-close-grey.png" />
                </span>
            </div>
        </div>
    </div>
    <div class="notification-info-body">
        <ul>
            <li>
                <div class="notification-msg read-msg" fxLayout="row" fxLayoutAlign="start center">
                    <div class="msg-info" fxFlex="70" fxLayoutAlign="start center">
                        <div class="profile-img-main">
                            <img class="profile-img" alt="profile icon" src="../../../../assets/images/rawimages/card-profile" />
                            <span class="online-symbol"></span>
                        </div>
                        <div class="ml-10" fxLayout="column">
                            <h6 class="h6-15-blue">Byndr Chat</h6>
                            <p class="p-small-grey14">Your Learning Companion</p>
                        </div>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                        <p class="msg-number mr-10">2</p>
                        <p class="p-small-grey14 mr-20">13:45</p>
                        <img alt="dots" src="../../../../assets/images/icons/ic-dots-grey.png" />
                    </div>
                </div>
            </li>
            <li>
                <div class="notification-msg" fxLayout="row" fxLayoutAlign="start center">
                    <div class="msg-info" fxFlex="70" fxLayoutAlign="start center">
                        <div class="profile-img-main">
                            <img class="profile-img" alt="profile icon" src="../../../../assets/images/rawimages/card-profile" />
                            <span class="online-symbol"></span>
                        </div>
                        <div class="ml-10" fxLayout="column">
                            <h6 class="h6-15-blue">Byndr Chat</h6>
                            <p class="p-small-grey14">Your Learning Companion</p>
                        </div>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                        <p class="msg-number mr-10">2</p>
                        <p class="p-small-grey14 mr-20">13:45</p>
                        <img alt="dots" src="../../../../assets/images/icons/ic-dots-grey.png" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>