<div fxLayout="column" fxLayoutAlign="start start" class="tour-spread-main">
    <div class="w-100" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap="wrap" fxLayoutAlign="start start">
        <div fxFlex="initial" fxLayoutAlign="start center">
            <div class="home-icon">
                <img class="ic-home" alt="home icon" src="../../../assets/images/icons/ic-home.png" />
                <div class="home-spread spread-popup">
                    <div fxLayout="column">
                        <h5 class="h5-white-18 pb-10">Home</h5>
                        <p class="p-small-white14">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                </div>
                <div class="left-icons">
                    <div fxLayout="column">
                        <img alt="" src="../../../assets/images/icons/ic-learning-modules-1.png" />
                        <img alt="" src="../../../assets/images/icons/ic-learning-modules-2.png" />
                        <img class="ic-learning-module-3" alt="" src="../../../assets/images/icons/ic-learning-modules-3.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tour-spread-header-right" fxFlex fxLayoutAlign="end start">
            <div class="search-icon mr-30">
                <img alt="search icon" src="../../../assets/images/icons/ic-search.png" />
                <span class="ml-10">Search</span>
            </div>
            <div class="invite-icon mr-30">
                <img alt="plus icon" src="../../../assets/images/icons/ic-plus.png" />
                <span class="ml-10">Invite</span>
            </div>
            <div class="i-symbol-icon mr-30">
                <img alt="i symbol icon" src="../../../assets/images/icons/ic-i-symbol-full.png" />
                <div class="i-symbol-spread spread-popup">
                    <div fxLayout="column">
                        <h5 class="h5-white-18 pb-10 align-center">Take the tour any time</h5>
                        <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                </div>
            </div>
            <div class="video-icon mr-30">
                <img alt="video icon" src="../../../assets/images/icons/ic-video.png" />
            </div>
            <div class="notification-icon">
                <img alt="notification icon" src="../../../assets/images/icons/ic-notification.png" />
            </div>
        </div>
    </div>
    <div class="w-100 tour-spread-middle" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div class="tour-spread-tab" fxFlex.lg="34" fxFlex.md="40" fxLayoutAlign="center start">
            <div class="mr-10" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div class="search-bar-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Search Bar</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <img alt="search bar icon" src="../../../assets/images/icons/ic-search.png" />
                    </div>
                </div>
            </div>
            <div class="ml-10" fxFlex.xs="100" fxFlex.sm="100" fxFlex="50" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div class="invite-people-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Invite People</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <img alt="invite people icon" src="../../../assets/images/icons/ic-invite-people.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap="wrap" fxLayoutAlign="center start">
        <div class="learning-modules-tab" fxFlex.sm="100" fxFlex.xs="100" fxFlex="17" fxLayoutAlign="center start">
            <div class="learning-modules-col" fxLayout="column" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start">
                <div class="mr-10" fxFlex="50" fxLayoutAlign="center center">
                    <div class="learning-modules-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Learning Modules</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="learning-modules-icons">
                            <img alt="search bar icon" src="../../../assets/images/icons/ic-learning-modules-1.png" />
                            <img alt="search bar icon" src="../../../assets/images/icons/ic-learning-modules-2.png" />
                            <img alt="search bar icon" src="../../../assets/images/icons/ic-learning-modules-3.png" />
                        </div>
                    </div>
                </div>
                <div class="mr-10" fxFlex="50" fxLayoutAlign="center center">
                    <div class="profile-settings-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Profile & Settings</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <img alt="invite people icon" src="../../../assets/images/icons/ic-profile-settings.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-10 ml-10 spread-dashboard-tab" fxFlex="34" fxLayoutAlign="center start">
            <div class="spread-dashboard">
                <div fxLayout="column">
                    <h2 class="h2-26 pb-20 align-center">Meet your
                        <br/>Home Dashboard</h2>
                    <p class="popup-info-text">Take the Byndr tour and findout how easy it is to learn anything and connect with your companion to enhance
                        your learning experience.
                    </p>
                    <div class="finish-btn">
                        <button mat-raised-button class="btn-submit" routerLink="/home">Finish Tour</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="learning-modules-tab messages-tab ml-10" fxFlex.sm="100" fxFlex.xs="100" fxFlex="17" fxLayoutAlign="center start">
            <div class="learning-modules-col" fxLayout="column">
                <div class="mr-10" fxFlex="50" fxLayoutAlign="center center">
                    <div class="messages-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Messages</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <img alt="search bar icon" src="../../../assets/images/icons/ic-video.png" />
                    </div>
                </div>
                <div class="mr-10" fxFlex="50" fxLayoutAlign="center center">
                    <div class="notifications-spread spread-popup spread-popup-icon">
                        <div fxLayout="column">
                            <h5 class="h5-white-18 pb-10 align-center">Notifications</h5>
                            <p class="p-small-white14 align-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <img alt="invite people icon" src="../../../assets/images/icons/ic-notification.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-bottom-icon">
        <img alt="profile icon" src="../../../assets/images/icons/ic-profile.png" />
    </div>
</div>