<div class="home-main">
    <div class="home-header" fxLayout="row wrap" fxLayoutWrap="wrap">
        <!-- for new user fxFlex="70" and for old user fxFlex="100" -->
        <div class="pr-20" fxFlex.xs="100" fxFlex="70" fxFlex.md="60" fxLayoutAlign="start center">
            <div class="w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
                <div fxFlex="initial" fxLayoutAlign="start center">
                    <h4 class="h4-20-black">Latest</h4>
                </div>
                <div fxFlex fxLayoutAlign="end center">
                    <div class="sort-by" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="initial" fxLayoutAlign="start center">
                            <p class="sort-by-text p-small-black14 mr-20">Sort By</p>
                        </div>
                        <mat-form-field appearance="fill" class="select-box">
                            <mat-select>
                                <mat-option *ngFor="let sortBy of sortList" [value]="sortBy.value">
                                    {{sortBy.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-body" fxLayout="row wrap" fxLayoutWrap="wrap">
        <!-- for new user fxFlex="70" and for old user fxFlex="100" -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex="70" fxFlex.md="60" fxLayoutAlign="start start">
            <div class="ptl-20 card-main" fxLayout="row wrap" fxLayoutWrap="wrap">
                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-1.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-2.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-3.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-4.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-1.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-2.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-3.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pr-20 pb-20" fxFlex="33.333" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="card-box">
                        <div class="body-card">
                            <img alt="card image" class="card-img mb-10" src="../../../assets/images/rawimages/card-4.jpg" />
                            <h5 class="h5-16-black pb-10">Lorem ipsum dolor sit amet</h5>
                            <p class="p-small-black14 pb-20">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="views-row pb-10" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <p class="views-text">550 Views</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <p class="time-text">2 min</p>
                            </div>
                        </div>
                        <div class="source-row" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="initial" fxLayoutAlign="start center">
                                <img class="card-profile" alt="source profile" src="../../../assets/images/rawimages/card-profile" />
                                <div class="source-profile-row" fxLayout="column">
                                    <a class="source-link" href="http://google.com" target="_blank">
                                        <p class="source-head">Content Source</p>
                                        <p class="source-url">www.website.com</p>
                                    </a>
                                </div>
                            </div>
                            <div fxFlex fxLayoutAlign="end center">
                                <img class="ic-dots" alt="icon dots" src="../../../assets/images/icons/ic-dots-grey.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Below section visible only for new user -->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex="30" fxFlex.md="40" fxLayoutAlign="start start">
            <div class="new-user-complete-sections" fxLayout="column">
                <div class="complete-box">
                    <h4 class="h4-20-blue pb-10 align-center">Complete your profile</h4>
                    <p class="p-small-black14 pb-20 align-center">Start setting up your profile by following a few very quick steps so you can learn with ease!
                    </p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button class="btn-submit mr-20">Go to Profile Settings</button>
                        <button mat-raised-button class="btn-cancel">Hide</button>
                    </div>
                </div>
                <div class="complete-box">
                    <h4 class="h4-20-blue pb-10 align-center">Let's start exploring!</h4>
                    <p class="p-small-black14 pb-20 align-center">Select any one content type to start your learning experience.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button class="btn-submit mr-20">Start new Discovery</button>
                        <button mat-raised-button class="btn-cancel">Hide</button>
                    </div>
                </div>
                <div class="complete-box">
                    <h4 class="h4-20-blue pb-10 align-center">Start following Topics!</h4>
                    <p class="p-small-black14 pb-20 align-center">Get started by following content sources and stay
                        updated with your favourite topics.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button class="btn-submit mr-20">Find Sources</button>
                        <button mat-raised-button class="btn-cancel">Hide</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>